$main-font: "SFProTextMedium";
$secondary-font: "SFProTextSemiBold";
$regular-font: "SFProTextRegular";
$light-font: "SFProTextLight";
$display-font: "SFProDisplay";
$mediumD-font: "SFProDisplayMedium";

$white-color: #ffffff;