$main-font: "SFProTextMedium";
$secondary-font: "SFProTextSemiBold";
$regular-font: "SFProTextRegular";
$light-font: "SFProTextLight";
$main-caption-font: "SFProDisplay";
$secondary-caption-font: "SFProDisplayMedium";
$thin-main-font: "SFProDisplayThin";

$white-color: #ffffff;
$body-color: #fbfafac9;